@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.woff2") format("woff2");
}

:root {
  --color-brand: #819b57;
  --color-fa: #faf4ea;
  --color-dark: #31261a;
  --color-polosa: #cfcfbc;
  --color-photo-pol: #a18268;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/*BASE*/

*,
*::after *::before {
  box-sizing: border-box;
}
/*.sections
{
  padding: 48px 0;
}*/

body {
  background-color: var(--color-fa);
  color: var(--color-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
/*Hedader flexbox*/

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

.visualy-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
a {
  display: inline-block;
}

/*Adressa*/

address {
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Knopki*/

.button {
  color: #faf4ea;
  border: 2px solid var(--color-brand);
  background-color: var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  padding: 16px 32px;
  margin-right: 32px;
}
.button:hover {
  background-color: transparent;
  border: 2px solid var(--color-brand);
  color: #465929;
}

/*Menu*/

.link {
  color: var(--color-fa);
  text-decoration: none;
  transition: color 0.3s;
}
.link:hover {
  color: var(--color-brand);
}

/*Verh*/
.hero-section {
  padding: 272px 0px;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(../images/image1559.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed; /*scroll;*/
}
.header-nav {
  margin-left: 32px;
}
.hero-title {
  color: var(--color-fa);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}
.hero-title.accent {
  color: var(--color-brand);
}
.tri-menu {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.tri-menutext {
  color: var(--color-fa);
  font-size: 20px;
  font-weight: 300;
}

/*KUHARI*/

.section-title {
  color: var(--color-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
  padding-top: 96px;
}
.tip-hleb {
  padding-top: 96px;
  border-radius: 400px 400px 0 0;
}
.kuhari-title {
  margin: 80px auto;
  position: relative;
}
.kuhari-title::before,
.kuhari-title::after {
  position: absolute;
  content: "";
  width: 352px;
  border: 2px solid var(--color-polosa);
}
.kuhari-title::before {
  left: 0;
  bottom: 24px;
}
.kuhari-title::after {
  right: 0;
  bottom: 24px;
}
.section-title.centered {
  text-align: center;
}
.kuhari-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
  justify-content: space-around;
  /*flex-basis: calc(100% - 30px / 2);*/
}
.kuhari-item {
  flex-basis: auto;
}
.kuhari-card {
  display: flex;
  gap: 30px;
}
.kuhari-photo {
  box-shadow: -16px 16px 0 0 var(--color-fa),
    -16px 16px 0 2px var(--color-photo-pol);
  border-radius: 4px 4px 4px 200px;
  height: 390px;
  width: 240px;
}
.kuhari-name {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.kuhari-text p {
  margin-bottom: 24px;
}
.kuhari-text p:last-child {
  margin-bottom: 0;
}
.section-title .accent {
  color: #465929;
}

/* Our-tradic */

.tradition-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.tradition-content {
  max-width: 710px;
}
.our-tradic {
  background-color: var(--color-brand);
  padding: 16px 0;
}
.uppercase {
  color: var(--color-brand);
  text-transform: uppercase;
  font-weight: 600;
}
.our-tradictext .limited {
  max-width: 340px;
}
.tradical-title {
  margin-bottom: 42px;
}
.uppercase {
  margin-bottom: 42px;
}
.our-tradictext .brand {
  color: var(--color-brand);
  font-weight: 600;
}

/*FORMATS*/

.format-title {
  margin-bottom: 80px;
}

.format-titleu {
  font-size: 24px;
  font-weight: 600;
  /*padding: 220px 24px 24px 24px;*/
  margin: 220px 0 16px 0;
  color: var(--color-fa);
}

.format-container {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.format-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.format-card {
  height: 444px;
  padding: 24px;
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-dark) 100%
  );
  border-radius: 16px;
  transition: transform 0.3s;
}
.format-card:hover{
 transition: transform 0.3s;
}
.format-item.walrus {
  background-image: url(../images/walrus.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 16px;
  transition: transform 0.3s;
}
.format-item.walrus:hover {
  transform: scale(1.07);
}
.format-item.horseshoe {
  background-image: url(../images/horseshoe.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 16px;
  transition: transform 0.3s;
}
.format-item.horseshoe:hover {
  transform: scale(1.07);
}
.format-item.handelbar {
  background-image: url(../images/handlibar.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  border-radius: 16px;
  transition: transform 0.3s;
}
.format-item.handelbar:hover {
  transform: scale(1.07);
}

.format-item {
  flex-basis: calc((100% - 40px) / 3);
}

.format-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-fa);

/*Karusel-Arrow*/

.carusel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  padding: 0;
  height: 44px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: transparent;
  border: 1px solid #31261a;
  cursor: pointer;
  fill: var(--color-dark);
}
.carusel-button.next {
  transform: rotate(180deg);
}

.carusel-button:hover {
  background-color: var(--color-dark);
  fill: var(--color-fa);
}
/*CONTACT FORMA*/

.section-title.contact {
  padding: 0;
  margin-bottom: 42px;
}
.contact-container {
  display: flex;
  gap: 32px;
  padding-top: 96px;
}
.contact-form {
  padding: 0;
}
.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
  width: 600px;
  height: 600px;
}

/*CONTACT SECTION*/

.contact-section {
  margin-bottom: 16px;
  padding-bottom: 96px;
}
.contact-forma {
  color: #465929;
}

/*Footer*/
.footer {
  background-image: url(../images/footerfon.png);
  background-color: var(--color-dark);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 32px 0;
  gap: 20px;
  position: relative;
}
.footer::before,
.footer::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  bottom: 0;
}
.footer::before {
  background-image: url(../images/decor-bread-small.png);
  width: 180px;
  height: 120px;
  left: 0;
}
.footer::after {
  background-image: url(../images/decor-bread-large.png);
  right: 0;
  width: 380px;
  height: 190px;
}
.footer-container {
  display: flex;
}
.footer-nav,
.footer-adress {
  flex-basis: 50%;
  display: flex;
}
.footer-logo,
.footer-menu {
  flex-grow: 1;
}
.adress-list,
.adress-info {
  flex-grow: 1;
}
.adress-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-fa);
  text-decoration: none;
}
.adress-link:hover {
  color: var(--color-brand);
}
.adress-icon {
  fill: var(--color-fa);
  /*заливка кольором*/
  /*stroke: aqua; /*обводка*/
}

.adress-icon:hover {
  fill: var(--color-brand);
}

.adress-copyright {
  font-size: 14px;
  font-weight: 400;
  color: #a18268;
}

/*MODAL*/

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s, visibility 0.5s;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  max-width: 880px;
  max-height: 880px;
  width: 80%;
  height: 70%;
  padding: 64px 48px;
  background-color: var(--color-fa);
  border-radius: 32px;
  overflow-y: auto;
}
.modal-btn-close {
  position: absolute;
  right: 40px;
  top: 40px;
}

/*FORMA*/

.form-label {
  display: block;
}
.form-input {
  padding: 16px 42px;
  width: 90%;
  border: 1px solid;
  border-radius: 8px;
  border-color: var(--color-photo-pol);
  background-color: transparent;
  font-size: 16px;
  line-height: 1.17;
}
.form-field {
  margin-bottom: 32px;
  color: var(--color-photo-pol);
}
.form-input:focus {
  border-color: var(--color-brand);
  outline: none;
}
.form-input::placeholder {
  color: var(--color-photo-pol);
  font-size: 16px;
  line-height: 1.17;
}
.form-input:focus::placeholder {
  color: var(--color-dark);
}
.form-button {
  display: flex;
  margin: 0 auto 24px;
}
.form-terms {
  max-width: 220px;
  line-height: 1.5;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
}
.form-link {
  color: var(--color-dark);
  text-underline-offset: 2px;
}

/*CHECKBOX

.checkbox-input {
  appearance: none;
}
.checkbox-input:checked + .checkbox-label::before {
  background-color: var(--color-brand);
}
.checkbox {
  position: relative;
}
.checkbox-label {
  padding-left: 24px;
}
.checkbox-label::before {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 5px;
  width: 16px;
  height: 16px;
  border: 2px var(--color-dark) solid;
  border-radius: 4px;
  content: "";
}
*/