.text-brand {
color: var(--color-brand);
}
.text-brand-dark {
color: #465929;
}

.text-bolt {
font-weight: 600;
}

.text-uppercase {
text-transform: uppercase;
/*font-weight: 600;
margin-bottom: 42px;*/
}