:root {
    --color-brand: #819b57;
    --color-fa: #faf4ea;
    --color-dark: #31261a;
    --color-polosa: #cfcfbc;
    --color-photo-pol: #a18268;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;