.carusel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    padding: 0;
    height: 44px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: transparent;
    border: 1px solid #31261a;
    cursor: pointer;
    fill: var(--color-dark);
   
&.next {
    transform: rotate(180deg);
}

&:hover {
    background-color: var(--color-dark);
    fill: var(--color-fa);
}
}

