.pagination {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;

    &__button {
        padding: 0;
        width: 12px;
        height: 12px;
        background-color: var(--color-photo-pol);
        border-radius: 50%;

        &--active {
            background-color: var(--color-brand);
        }
    }
}