.contact-section {
    padding: 40px 0 0 0;

    @media screen and (min-width: $bp-tablet) {
    padding: 96px;
    }

&__container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-top: 0;

        @media screen and (min-width: $bp-tablet) {
        flex-direction: row;
        gap: 32px;
        // padding-top: 96px;
        }
    }

    &__form {
         padding: 0;
         margin: 0 auto;

        @media screen and (min-width: $bp-tablet) {
         padding: 0 0 42px;
        }
    }
    &__form-field {
        margin-bottom: 16px;
        width: 280px;

        @media screen and (min-width: $bp-tablet) {
        margin-bottom: 24px;
        width: auto;
        }
    }

    &__title {
        padding: 0;
        margin-bottom: 16px;
    }

    &__button {
    display: block;
    margin: 0 auto 16px;
    }

    &__map {
        flex-shrink: 0;
        height: 176px;
        margin: 0 -24px;
        border: none;
    
        @media screen and (min-width: $bp-tablet) {
        margin: auto;
        width: 320px;
        height: 500px;
        border-radius: 16px;

        }
        @media screen and (min-width: $bp-desktop) {
        width: 600px;
        height: 595px;
        }
    }
    
    &__contact-form {
        color: #465929;
    }
}
