.header {
position: absolute;
top: 0;
left: 0;
width: 100%;
padding-top: 16px;

@media screen and (min-width: $bp-desktop) {
    padding-top: 32px;
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__nav {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 40px;
        }

    &__menu {
        display: none;
        align-items: center;
        gap: 64px;
        flex-grow: 1;
        /*justify-content: center;*/
        
    @media screen and (min-width: $bp-desktop) {
        display: flex;
        padding-top: 32px;
        }
    }

    &__button {
        display: none;

        @media screen and (min-width: $bp-desktop) {
        display: block;
        }
    }

    &__burger {
        padding: 00px;
        background-color: transparent;
        border: none;
        fill: var(--color-fa);
        width: 24px;
        height: 24px;

    @media screen and (min-width: $bp-desktop) {
        display: none;
        }
    }
}






