.hero-section {
    padding: 124px 0px;
    background-image: linear-gradient(102.76deg,
            rgba(18, 18, 17, 0.78) 2.03%,
            rgba(18, 18, 17, 0.6) 58.46%,
            rgba(18, 18, 17, 0) 90.36%),
        url(../images/image1559.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: scroll;
    /*fixed;*/

    @media screen and (min-width: $bp-desktop) {
        padding: 198px 0px;    
    }

    @media screen and (min-device-pixel-ratio-: 2), 
    (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(102.76deg,
            rgba(18, 18, 17, 0.78) 2.03%,
            rgba(18, 18, 17, 0.6) 58.46%,
            rgba(18, 18, 17, 0) 90.36%),
        url(../images/image1559@2x.jpg);
    }
    
    &__title {
        color: var(--color-fa);
        text-align: center;
        font-size: 52px;
        font-weight: 900;
        line-height: 1;
        margin-bottom: 0;
            
    @media screen and (min-width: $bp-desktop) {
        font-size: 128px;
        font-weight: 900;   
        line-height: 1.5;
        padding: 272px 0px;    
        }
    }

    &__button {
        display: block;
        margin: 48px auto 0;
    @media screen and (min-width: $bp-desktop) {
        display: none;
    }
    }
    }




